.grey {
  color: #a9a9a9;
}

hr {
  border-top: 1px solid #000;
}

@media only screen and (min-width: 20em) {

  .text-s {
    position: absolute;
    top: 0;
    right: 20%;
  }

}

@media only screen and (min-width: 38em) {

  .text-m {
    position: absolute;
    top: 0;
    right: 0;
  }

}

@media only screen and (min-width: 90em) {

  .text-l {
    position: absolute;
    top: 0;
    right: 0;
  }

}

p {
  font-family: var(--font-primary);
}

.main-img {
  position: relative;
  top: 0;
}


.collection-text {
  top: 10em;
  right: 50%;
  z-index: 10;
}

.collection-img:first-child {
  right: 10%
  top: 2em;
}

.collection-img:nth-child(2) {
  right: 20%
  top: 5em;
}
.collection-img:last-child {
  left: 30%
  top: 2em;
}
