html {
  font-family: sans-serif;
}

.grey {
  color: #a9a9a9;
}

hr {
  border-top: 1px solid #000;
}

.sale-banner {
  background-color: var(--color-secondary);
}

.pop-up {
  position: absolute;
  top: -10em;
}

.pop-up-label {
  cursor: pointer;
}

.pop-up:checked ~ .sale-banner {
  display: none;
}

.pop-up:checked ~ .pop-up-label .close-icon {
  display: none;
}

@media only screen and (min-width: 20em) {

  .text-s {
    position: absolute;
    top: 0;
    right: 20%;
  }

}

@media only screen and (min-width: 38em) {

  .text-m {
    position: absolute;
    top: 0;
    right: 0;
  }

}

@media only screen and (min-width: 90em) {

  .text-l {
    position: absolute;
    top: 0;
    right: 0;
  }

}

p {
  font-family: var(--font-primary);
}

.main-img {
  position: relative;
  top: 0;
}

.collection-text {
  top: 7em;
  right: 40%;
  z-index: 10;
}

.collection-img:first-child {
  right: 10%;
  top: 2em;
}

.collection-img:nth-child(2) {
  right: 20%;
  top: 5em;
}

.collection-img:last-child {
  left: 30%;
  top: 2em;
}
