.header {
  width: 100vw;
}

.navigation {
  position: absolute;
  height: 50vh;
  z-index: 10;
  width: 100%;
}

.nav {
  width: 100vw;
  display: none;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-label {
  cursor: pointer;
}

.nav-check:checked ~ .nav {
  display: block;
  background-color: var(--color-accent);
  overflow: hidden;
}

.close {
  display: none;
}

.yellow {
  color: var(--color-secondary);
}

.yellow:hover {
  color: var(--color-primary);
}

.nav-check:checked ~ .nav-label .open {
  display: none;
}

.nav-check:checked ~ .nav-label .close {
  display: block;
}

.current {
  text-decoration: underline;
}
